@tailwind "node_modules/tailwindcss/base";
@tailwind "node_modules/tailwindcss/components";
@tailwind "node_modules/tailwindcss/utilities";
html,
body {
  height: 100%;
  background: #000000;
}
/* Navigation */
.navbar {
  background: black;
}
.navbar-icon {
  font-size: 125%;
  display: inline-block !important;
}
/* Media Queries */
@media (min-width: 1600px) {
  .container {
    width: 1400px;
  }
}
