<div class="container">
  <div id="instagram" class="w-full mt-12">
    <h1 class="uppercase tracking-widest text-3xl mb-4 font-extralight">The Latest</h1>
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
      src="https://cdn.lightwidget.com/widgets/c2e91370e3d95661b259aeee6df16c69.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget"
      style="width: 100%; border: 0; overflow: hidden"
    ></iframe>
  </div>
</div>
