{{ $image := (.Page.Resources.ByType "image") }}
<div class="fotorama"
     data-width="1600"
     data-ratio="1600/800"
     data-minheight="300"
     data-fit="cover">
    {{ with $image }}
    {{ range . }}
    {{ $resized := .Fit "1600x800 q75" }}
    <div class="w-full h-full">
        <a class="block h-full" href="{{ $resized.Permalink }}" data-fancybox="gallery">
            <img loading="lazy" class="object-cover w-full h-full" src="{{ $resized.Permalink }}">
        </a>
    </div>
    {{ end }}
    {{ end }}
</div>
<div id="masonry" class="hidden">
    {{ with $image }}
    {{ range . }}
    {{ $resized := .Fit "1600x800 q75" }}
    <a href="{{ $resized.Permalink }}" data-fancybox="gallery">
        <img loading="lazy" class="object-cover w-full h-full" src="{{ $resized.Permalink }}">
    </a>
    {{ end }}
    {{ end }}
</div>